.nav-tab{
  width: 20%;
  float: left;
  background-color: #808080;
  color: #2B4C7E;
  display: block;
  font-size: 1.5em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  font-size: 200%;
}

.nav-tab:hover{
  background-color: lightgrey;/*#F38630;*/
  color: #F38630;
}

.navigation {
  color: #2B4C7E;
}

#homepage {
  text-align: center;
  font-size: 500% ;
  color: Red;
}

.welcomeMessage{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.headerStyle
{
  font-size: 250%;
  text-align: center;
  color: Red;
}

span.hidden-message{
  opacity: 0.0;
}
span.shown-message{
  opacity: 1.0;
}

.examples
{
  font-size: 200%;
  color: navy;
}

.introTopText
{
  font-size: 200%;
}

.introBottomText
{
  font-size: 150%;
}
